<h1 class="page-title">Listado de Usuarios</h1>
<div class="filters">
  <input
    nz-input
    class="filter-text"
    placeholder="Buscar por nombre o email"
    [(ngModel)]="filterText"
    (ngModelChange)="currentPage.set(1)"
  />
  <nz-select
    class="filter-company"
    nzPlaceHolder="Seleccionar compañía"
    [(ngModel)]="filterCompany"
    (ngModelChange)="currentPage.set(1)"
    style="width: 220px"
    nzAllowClear
  >
    <nz-option *ngFor="let c of companies" [nzValue]="c" [nzLabel]="c"></nz-option>
  </nz-select>
</div>

<nz-table nzBordered >
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of pagedUsers">
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.company.name }}</td>
      <td style="text-align: center">
        <button nz-button nzType="link" (click)="openDrawer(user)">Open</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="paginator-container" >
  <nz-pagination
    [nzPageIndex]="currentPage()"
    [nzPageSize]="pageSize"
    [nzTotal]="filteredUsers.length"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
  </nz-pagination>
</div>

<nz-drawer
  [nzTitle]="selectedUser()?.name"
  [nzWidth]="480"
  [nzVisible]="drawerVisible()"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <p><b>City:</b> {{ selectedUser()?.address?.city }}, Zip: {{ selectedUser()?.address?.zipcode }}</p>
    <p><b>Phone:</b> {{ selectedUser()?.phone }}</p>
    <p><b>Email:</b> {{ selectedUser()?.email }}</p>
    <p><b>Company:</b> {{ selectedUser()?.company?.name }}</p>
    <p>
      <b>Website:</b>
      <a href="https://{{ selectedUser()?.website }}" target="_blank">{{
        selectedUser()?.website
      }}</a>
    </p>

    <h3 style="margin-top: 16px">Últimas 5 notas</h3>
    <div *ngFor="let p of posts()">
      <h4 style="margin: 6px 0">{{ p.title }}</h4>
      <p style="margin: 0 0 12px">{{ p.body }}</p>
      <nz-divider></nz-divider>
    </div>
  </ng-container>
</nz-drawer>
